.footer {
  padding-bottom: 2.5rem;
  background: $veryDarkBlue;

  &__container {
    place-items: center;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
    grid-template-columns: 1fr;

    @include breakpoint-up(large) {
      place-items: inherit;
      padding-bottom: 3rem;
      grid-template-columns: 1fr 2fr 1fr;
    }
  }

  &__icons {
    order: 3;
    place-items: center;

    @include breakpoint-up(large) {
      order: 0;
      place-items: inherit;
    }
  }

  &__logo {
    order: 1;
    width: 9rem;

    @include breakpoint-up(large) {
      order: 0;
      width: 8.615rem;
    }
  }

  &__social {
    margin: 2.5rem 0;
    align-self: center;

    @include breakpoint-up(large) {
      align-self: end;
      margin: 0 0 -0.25rem;
    }

    a {
      transform: scale(1.5);

      @include breakpoint-up(large) {
        transform: scale(1);
      }
      svg path {
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        svg path {
          fill: $brightRed;
        }
      }

      &:not(:last-child) {
        margin-right: 2.5rem;

        @include breakpoint-up(large) {
          margin-right: 0.75rem;
        }
      }
    }
  }

  &__links {
    flex-direction: column;
    align-items: flex-start;

    &__container {
      order: 2;
      margin: 3rem auto 1rem;
      grid-template-columns: 1fr 1fr;
      column-gap: 3.5rem;

      @include breakpoint-up(medium) {
        width: 50%;
      }

      @include breakpoint-up(large) {
        order: 0;
        margin: 0;
        width: auto;
        column-gap: 0;
      }
    }

    a {
      color: white;
      font-weight: 400;
      font-size: 0.875rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $brightRed;
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__form {
    width: 100%;
    margin: auto;
    justify-self: center;

    @include breakpoint-up(medium) {
      width: 60%;
    }

    @include breakpoint-up(large) {
      width: auto;
      justify-self: end;
    }

    &__container {
      order: 1;
      width: 100%;
      display: flex;

      @include breakpoint-up(large) {
        order: 0;
        width: auto;
        display: grid;
      }
    }

    input[type="email"] {
      width: 75%;
      outline: 0;
      font-size: 0.75rem;
      font-family: inherit;
      border-radius: 50px;
      padding: 0.8rem 1rem;
      border: 1px solid $veryDarkBlue;

      @include breakpoint-up(large) {
        width: auto;
        padding: 0.8rem 0.5rem;
      }

      @media screen and (min-width: 1085px) {
        padding: 0.8rem 1rem;
      }
    }

    button {
      width: 20%;
      margin-left: 0.25rem;
      padding: 0.85rem 1.35rem;

      @include breakpoint-up(large) {
        width: auto;
        margin-left: 0.5rem;
      }
    }
  }

  .copy {
    align-self: end;
    justify-self: end;
    font-size: 0.75rem;
    text-align: center;

    &.hide-for-desktop {
      margin-bottom: 1rem;
    }

    &.hide-for-mobile {
      margin-bottom: -0.25rem;
    }
  }

  .attribution {
    color: white;
    font-size: 0.8rem;
    text-align: center;

    a {
      color: inherit;
    }
  }
}
